<div class="form-group">
    <a load="/todo-category-create" class="btn btn-secondary" role="button">Create new category</a>
</div>

<h1>Todo Categorys</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Category Sort
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.categoryName}
            </td>
            <td>
                ${item.categorySort}
            </td>
            <td>
                <a load="/todo-category-detail(${item.id})" role="button">Details</a>
                <template if.bind="state.token != null">
                    | 
                    <a load="/todo-category-edit(${item.id})" role="button">Edit</a> | 
                    <a load="/todo-category-delete(${item.id})" role="button">Delete</a>
                </template>
            </td>
        </tr>
    </tbody>
</table>
