<h1>Details</h1>

<div>
    <h4>Todo category</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            Category Name
        </dt>
        <dd class="col-sm-8">
            ${data.categoryName}
        </dd>
        <dt class="col-sm-4">
            Category Sort
        </dt>
        <dd class="col-sm-8">
            ${data.categorySort}
        </dd>
    </dl>
</div>
<div>

    <a load="/todo-category-index">Back to List</a>
</div>
