version: 2.1
orbs:
   aws-s3: circleci/aws-s3@3.0
   heroku: circleci/heroku@1.0.1
jobs:
  build:
    docker:
      - image: circleci/node:14.18.1
    parallelism: 1
    working_directory: ~/rlohmus/vue
    steps:
      - checkout
      - attach_workspace:
          at: ~/rlohmus/vue
      - run: npm install
      - run:
          name: Creating .env file
          command: |
            echo "VUE_APP_BASE_PATH=$REST_URL" > .env
            cat .env
      - run: npm run-script build
      - persist_to_workspace:
          root: .
          paths: [dist]
  deploy:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - attach_workspace:
          at: ~/rlohmus/vue
      - aws-s3/sync:
          from: /home/circleci/rlohmus/vue/dist/
          to: 's3://checklist-fe'


# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  build-and-deploy:
    jobs:
      - build
      - deploy
     #     requires:
      #      - build
      #    filters:
       #     branches:
        #      only:
         #       - master


